.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



/* .img-ak {
  width: 200px;
  height: 200px;
  position: center;
  margin-left: 100px;
  margin-right: 100px;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  height: 800px;
  width: 800px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0%;
}
head {
  height: 100px;
  width: 800px;
}
h1 {
  color:burlywood;
  text-align: center;
  margin-left: 100px;
}

.btn{
  background-color: gold;
  border: none;
  border-radius: 20px;
  /* margin-left: 45%; */
  /* width: 50px;
  height: 50px; */

}

body { 

  background: url("../src/library.jpg");
  background-size: cover;
  font-family: sans-serif;
}

label { 
  color: yellow;
}

.header {
  width: 800px;
  height: 100px;
  margin-top: 0px;
}
.header ul {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* padding-left: 100px; */
  list-style-type: none;
  position: center;
}
.header ul li {
  display: inline-block;
}
.Footer {
  width: cover;
  height: 100px;
  /* background-color: #478559; */
  margin-top: 250px;
  margin-bottom: 0px;
}

h2 { 
  color: red;
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  /* color: #ffffff; */
  color:gold;
  text-align: left;
  font-weight: bold;
}

.content-table tbody tr {
  background-color: white;
  color:black;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; 
  
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
